.leaflet-container {
  width: 100%;
  height: 80vh;
}

.liner-loading {
  width: 100%;
  padding: 5px;
}

.makeStyles-content-9 {
  padding: 0 !important;
}

.bottom-map {
  color: #fff;
  background-color: black;
  min-height: 13.4vh;
  display: flex;
}

.bottom-map-slider {
  width: 90%;
  padding: 0 2%;
}

.bottom-map-button {
  width: 10%;
}

.marker-map {
  display: flex;
  flex-direction: column;
}

.cls-1 {
  fill:#202d40
}

.cls-2 {
  fill:#c0402b
}

/*PROFILE PAGE*/

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.profile-header .profile-avatar {
  width: 300px;
  height: 300px;
  margin: 5vh;
}